<h1>Listing search_concepts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Terms</th>
    <th>Navigation node</th>
    <th>Is node</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= render @search_concepts %>
</table>

<br />

<%= link_to 'New Search concept', new_search_concept_path %>
