<%- model_class = Search -%>


		<div class="page-header">
	  		<h1>Create Search</h1>
		</div><!-- EO page-header -->
<div class="row">
		<div class="span8">
			<h4>Event Types</h4>
			<div class="tabbable">
  				<ul class="nav nav-tabs">
    				<li class="active"><a href="#pane1" data-toggle="tab">Event List</a></li>
				    <li><a href="#pane2" data-toggle="tab">Context Data</a></li>
				    <li><a href="#pane3" data-toggle="tab">Review Search</a></li>
				</ul>
  				<div class="tab-content">
    				<div id="pane1" class="tab-pane active">
      					<h4>Select an Event</h4>
      					<div class="event-list">
	      					<ul>
		      					<% @search_concept_items.each do |concept|%>
				      				<%= link_to new_search_path(:get_children_of => concept.id) do %>
					      				<li>
					      					<span class="concept-name">
					      						<%= concept.name%>
					      					</span>
					      				</li>
				      				<% end %>
		      					<% end %>
	      					</ul>
	      					</div> <!-- EO event-list -->
    				</div><!-- EO pane1 -->
				    <div id="pane2" class="tab-pane">
				    	<h4>Enter Search Context</h4>
				    	<%= render :partial => 'form' %>
				    </div>
				    <div id="pane3" class="tab-pane">
				     	<h4>Review Search</h4>
				     	<p></p>
				    </div>
				  </div><!-- /.tab-content -->
				</div><!-- /.tabbable -->
		</div>
		
</div>

