// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-container{
	padding:15px;
	padding-bottom:30px;
	border-style:solid;
  	border-width:1px;
  	border-color:#CDCDC1;
  		-webkit-border-radius: 8px;
    	-moz-border-radius: 8px;
         border-radius: 8px;
}

.search-container .action-buttons{
	float:right;
}

.event-list {
	display:inline-block;
	margin-left:20px;
	
}

.event-list ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 20px;
	height:300px;
	width:300px;
	overflow-y:scroll;
	display:inline-block;
	
}

.event-list li {
	display:block;
	background-color:#E0E0E0;
	border-style:solid;
	border-width:0.05em;
	border-bottom-style:none;
	height:30px;
	padding-top:10px;
	padding-left:20px;
	
}

.tabs-container{
	margin:20px;
	-webkit-scrollbar{width:9px;height:9px;}
	-webkit-scrollbar-button:start:decrement,#doc ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
	-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
	-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:8px;}
	-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:8px;}
}

.select-option{
	float:right;
	color:#772953;
}

.label{
	display:block;
	background-color:#E0E0E0;
	color:#666666;
	margin:5px;
}

.span10 {
	padding-left:20px;
	margin-left:20px;
}

.tabbable {
	margin-top:10px;
}

.ancestor_path {
	margin-bottom:20px;
	font-size:14px;
}