// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-container{
	padding:20px;
	border-style:solid;
  	border-width:1px;
  	border-color:#CDCDC1;
  		-webkit-border-radius: 8px;
    	-moz-border-radius: 8px;
         border-radius: 8px;
}

.search-container .action-buttons{
	float:right;
}

