// Place all the styles related to the yt_search_results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.video-description{
	background-color: #ccc;
	padding:10px;
}
#filter-button{
	float:right;
	margin-bottom:5px;
	padding-right:30px;
}

#video_thumb_box {
	border:1px solid #cccccc;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:0px, 10px, 0px, 10px;
}